@import "variable";

.login {
  width: 350px;
  border: 0.1rem solid white;
  padding: 2rem;
  margin: 10rem auto;
  box-shadow: 0 0 1.25rem 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
a {
  text-decoration: none;
}



